<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.jumperz.app.MDozens"
            class="net.jumperz.app.MDozens.view.MDomainView"
            icon="src/net/jumperz/app/MDozens/resources/table_lightning.png"
            id="net.jumperz.app.MDozens.view.MDomainView"
            name="Domains"
            restorable="true">
      </view>
      <category
            id="net.jumperz.app.MDozens"
            name="Dozens">
      </category>
   </extension>

</plugin>
