<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="dozenseclipseplugin.ViewPart1"
            id="net.jumperz.app.MDozens.view.MDomainView"
            name="name"
            restorable="true">
      </view>
      <category
            id="net.jumperz.app.MDozens"
            name="Dozens">
      </category>
   </extension>

</plugin>
