<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.jumperz.app.MDozens"
            class="net.jumperz.app.MDozens.view.MDomainView"
            icon="src/net/jumperz/app/MDozens/resources/text_double_underline.png"
            id="net.jumperz.app.MDozens.view.MDomainView"
            name="Domains"
            restorable="true">
      </view>
      <category
            id="net.jumperz.app.MDozens"
            name="Dozens">
      </category>
      <view
            category="net.jumperz.app.MDozens"
            class="net.jumperz.app.MDozens.view.MRecordView"
            icon="src/net/jumperz/app/MDozens/resources/text_inverse.png"
            id="net.jumperz.app.MDozens.view.MRecordView"
            name="Records"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.jumperz.app.MDozens.MPerspectiveFactory1"
            icon="src/net/jumperz/app/MDozens/resources/text_double_underline.png"
            id="DozensEclipsePlugin.perspective1"
            name="Dozens">
      </perspective>
   </extension>

</plugin>
